//SINGIN

.form-center-singin {
  width: 30%;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 0 0 0 -15%;
}

.btn-link {
  margin: 0 10px 10px 10px;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
  display: none;
}
/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
  .form-signin {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -30%;
  }
  .xs-btn-link a {
    margin: 0 25% 0 25%;
    width: 50%;
    text-align: center;
  }
}

//EDIT PROFILE

.form-center-prof {
  width: 25%;
  margin: 0 auto;
  position: absolute;
  top: 15%;
  left: 50%;
  margin: 0 0 0 -12.5%;
}

.input-xlarge {
  width: 100%;
}

@media (max-width: 768px) {
  .form-center-prof {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    margin: 0 0 0 -35%;
  }
  .input-xlarge {
    width: 100%;
  }
  h2 {
    text-align: center;
    font-size: 28px !important;
  }
}

//EDIT MENU

.form-menu-center {
  width: 25%;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: 0 0 0 -12.5%;
}

@import 'bootstrap';
.center {
  text-align: center !important;
}