<div class="container">
    <div class="row">
        <form class="form-center-prof">
            <fieldset>
                <h2>Ваш профиль</h2>

                <!-- имя-->
                <div class="control-group">
                    <label for="first-name" class="control-label">Имя</label>

                    <div class="controls">
                        <input id="first-name" name="first-name" type="text" placeholder="имя" class="input-xlarge"
                               required="" ng-model="signup.name">

                        <p class="help-block"></p>
                    </div>
                </div>

                <!--пароль-->
                <div class="form-group">
                    <label for="password" class="control-label">Пароль</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Password"
                           ng-model="signup.password" required/>
                    <small class="errorMessage"
                           data-ng-show="signupForm.password.$dirty && signupForm.password.$invalid"> Enter
                        Password.
                    </small>
                </div>

                <!--подтверждение пароля -->
                <div class="form-group">
                    <label class="col-sm-5 control-label no-padding-right" for="password2">Повторите пароль</label>
                    <input id="password2" type="password" class="form-control" name="password2"
                           placeholder="Password Again"
                           ng-model="signup.password2" password-match="signup.password" required/>
                    <small class="errorMessage"
                           data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.required">
                        Enter password again.
                    </small>
                    <small class="errorMessage"
                           data-ng-show="signupForm.password2.$dirty && signupForm.password2.$error.passwordNoMatch && !signupForm.password2.$error.required">
                        Password do not match.
                    </small>
                </div>

                <!--вес-->
                <div class="control-group">
                    <label for="weight" class="control-label">Вес</label>

                    <div class="controls">
                        <input id="weight" type="number" class="input-xlarge" placeholder="вес"
                               ng-model="signup.weight">

                        <p class="help-block"></p>
                    </div>
                </div>

                <!--дата-->
                <div class="control-group">
                    <label for="input-date" class="control-label">Дата рождения</label>

                    <div class="controls">
                        <input id="input-date" type="date" class="input-xlarge" ng-model="signup.date">

                        <p class="help-block"></p>
                    </div>
                </div>

                <!-- пол -->
                <div class="control-group">
                    <label for="gender" class="control-label" for="gender">Пол</label>

                    <div class="controls">
                        <select id="gender" name="selectbasic" class="input-xlarge" ng-model="signup.gender">
                            <option value="" selected="selected">(выбрать)</option>
                            <option value="Мужчина">Мужчина</option>
                            <option value="Женщина">Женщина</option>
                        </select>

                        <p class="help-block"></p>
                    </div>
                </div>

                <!-- заболевание -->
                <div class="control-group">
                    <label for="illness" class="control-label">Заболевание</label>

                    <div class="controls">
                        <select id="illness" class="input-xlarge">
                            <option ng-repeat="ill in illness" value="{{ill.name}}" ng-model="signup.illness">{{ill.name}}</option>
                        </select>

                        <p class="help-block"></p>
                    </div>
                </div>


                <!-- переносимость limit -->
                <div class="control-group">
                    <label for="weight-limit" class="control-label">Переносимость лимит</label>

                    <div class="controls">
                        <input id="weight-limit" type="number" class="input-xlarge" placeholder="лимит в граммах"
                               ng-model="singup.limit">

                        <p class="help-block"></p>
                    </div>
                </div>

                <!-- submit -->
                <div class="form-group">
                    <label for="singlebutton" class="col-md-4 control-label" for="singlebutton"></label>

                    <div class="col-md-12">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary input-xlarge">submit
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
